:root{
    --common-color: rgb(178,34,34);
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.container{
    margin:;
    display:flex;
}
#image-container{
  display:flex;
  align-items: center;
  justify-content: center;

}
.image-content{
    background-image: url(/assets/images/bigbangtheoryshow.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height:80vh;
    width:60vw;
   
}

.text-link-container{
    position: relative;
    margin: 5px;
    padding:5%;
    width:40vw;

}
.beautiful-text{
    font-size: 3em;
    font-family: "Arial Rounded MT Bold"; 
}
.game-button button{
border:2px solid var(--common-color);
    border-radius: 40px;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 60%;
    color:var(--common-color);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.game-button>button:hover{
    color: whitesmoke;
    background-color: var(--common-color);
}
