
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
    --common-color: rgb(178,34,34);
    --common-font-family:"Varela Round";
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.container{
   
    display:flex;
}
#image-container{
  display:flex;
  align-items: center;
  justify-content: center;

}
.image-content{
    background-image: url(/assets/images/bigbangtheoryshow.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:90vh;
    width:60vw;
   
}

.text-link-container{
    position: relative;
    margin: 5px;
    padding:5%;
    width:40vw;

}
.beautiful-text>h1{
    font-size: 4vw;
    font-family: var(--common-font-family); 
}
.beautiful-text>h2{
    font-family: var(--common-font-family); 
    font-size: 3vw;
 

}
.game-button button{
border:2px solid var(--common-color);
    border-radius: 40px;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-top:30px;
    width: 60%;
    color:var(--common-color);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.game-button>button:hover{
    color: whitesmoke;
    background-color: var(--common-color);
}

/*media query*/
@media (width < 800px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .image-content{
        width:100%;
      height: 60vh;
    }
  .text-link-container{
    width: 100%;
    margin:20px;
  }
  .game-button{
    margin:15px auto;
   position: relative;

  }
}


/*Styling rock paper scissors page*/
#rps-container{
 background-image: url(/assets/images/time-warp.jpeg);
}
header{
    display:flex;
   height:  60px;

   
}
section{
   display:flex;
   flex-direction: column;
   height:60%;
   width:30%;
   gap:50px;
    margin:30px;
}
.game-title{
    width:500px;
    margin: 0 auto;
    color:var(--common-color);
    text-align: center;
    font-size: 40px;
    font-family: var(--common-font-family);
}

.sheldon-image>img{
    width:190px;
    height:150px;
    border-radius: 70%;
    position: relative;
    left: 10%;
}
.moves>p{
font-family: var(--common-font-family);
}
#opponents{
    padding: 20px;
    text-transform: capitalize;
    font-size: 26px;
    border:3px solid red;
    border-radius: 15px;
    width:20vw;
    height: 20vh;
   
   color:white;
   font-family:  var(--common-font-family);
 }

 
.area{
    display: flex;
}
.game-area{
    border:1px solid grey;
    border-radius: 10px;
    height:80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
    background-image: url(/assets/images/spaceship.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 10px;

}
.game-area > h1{
    font-family: var(--common-font-family);
    text-align: center;
    color:var(--common-color);
    font-weight: bold;
}
/*Button styling*/
.player-one-btn{
   margin: 20px;
   padding:10px;
   display:flex; 
   flex-wrap: wrap;
  justify-content: space-around;

}
.player-one-btn >button{
    width:10vw;
height:20vh;
border: 4px solid red;
border-radius: 50%;
font-size: 6vw;
text-align: center;
margin: 20px;
color:var(--common-color);
cursor:pointer;
transition: all 0.3 ease;
box-shadow: 0px 10px 20px 5px;
}
.player-one-btn >button:hover{
    background-color: aqua;
}

.moves > p{
    color:white;
    font-size: 2vw;
}